port=0
log-dhcp
dhcp-boot=pxelinux.0
dhcp-range={{ pxe_server_dhcp_range_start }},{{ pxe_server_dhcp_range_end }},{{ pxe_server_dhcp_lease }}
{% if pxe_server_interface %}
interface={{ pxe_server_interface }}
bind-interfaces
{% else %}
# Set pxe_server_interface in inventory before using this node for real PXE DHCP service.
{% endif %}
