port=0
log-dhcp
dhcp-range={{ pxe_server_dhcp_range_start }},{{ pxe_server_dhcp_range_end }},{{ pxe_server_dhcp_lease }}
{% if pxe_server_client_reserved_mac is defined and pxe_server_client_reserved_ip is defined %}
dhcp-host={{ pxe_server_client_reserved_mac }},{{ pxe_server_client_reserved_ip }}{% if pxe_server_client_reserved_hostname is defined %},{{ pxe_server_client_reserved_hostname }}{% endif %},{{ pxe_server_dhcp_lease }}
{% endif %}
dhcp-match=set:bios,option:client-arch,0
dhcp-match=set:efi64,option:client-arch,7
dhcp-match=set:efi64,option:client-arch,9
dhcp-userclass=set:ipxe,iPXE
dhcp-boot=tag:!ipxe,tag:bios,undionly.kpxe
dhcp-boot=tag:!ipxe,tag:efi64,snponly.efi
dhcp-boot=tag:ipxe,boot.ipxe
{% if pxe_server_interface %}
interface={{ pxe_server_interface }}
bind-interfaces
{% else %}
# Set pxe_server_interface in inventory before using this node for real PXE DHCP service.
{% endif %}
