server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    root {{ pxe_root }};
    autoindex on;

    location /debug/pxe-client {
        proxy_pass http://127.0.0.1:8081/debug/pxe-client;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
