DEFAULT menu.c32
PROMPT 0
TIMEOUT 50

MENU TITLE AV PXE Boot Menu

LABEL ubuntu-live
    MENU LABEL Ubuntu Live AV Client
    KERNEL images/vmlinuz
    APPEND initrd=images/initrd boot=casper ip=dhcp netboot=nfs nfsroot={{ ansible_host | default('av-build-vm') }}:{{ pxe_root }}/images
