DEFAULT menu.c32
PROMPT 0
TIMEOUT 50

MENU TITLE AV PXE Boot Menu

LABEL ubuntu-live
    MENU LABEL Ubuntu Live AV Client
    KERNEL {{ pxe_server_boot_kernel_path }}
{% if pxe_server_boot_method == "iso-url" %}
    APPEND initrd={{ pxe_server_boot_initrd_path }} {{ pxe_server_boot_append }}
{% else %}
    APPEND initrd={{ pxe_server_boot_initrd_path }} {{ pxe_server_boot_append }}
{% endif %}
