DEFAULT menu.c32
PROMPT 0
TIMEOUT 50

MENU TITLE AV PXE Boot Menu

LABEL ubuntu-live
    MENU LABEL Ubuntu Live AV Client
    KERNEL images/{{ pxe_server_client_image_name }}/vmlinuz
    APPEND initrd=images/{{ pxe_server_client_image_name }}/initrd boot=casper components ip=dhcp fetch=http://{{ ansible_host }}/images/{{ pxe_server_client_image_name }}/filesystem.squashfs
