DatabaseDirectory {{ repo_vm_clamav_root }}
UpdateLogFile /var/log/clamav/freshclam-av-proxy.log
LogVerbose yes
Foreground yes
DatabaseMirror database.clamav.net
Checks 12
CompressLocalDatabase no
NotifyClamd /dev/null
