__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

.venv/
venv/
.local/

runtime/
clean-output/
sample-media/

qemu-img-win-x64-2_3_0/
qemu-img-win-x64-2_3_0.zip

*.vhd
*.vhdx
*.avhd
*.avhdx
*.iso
*.img

.DS_Store
Thumbs.db
AV.code-workspace

inventories/lab/group_vars/all/license_acceptance.yml
