PXE_CLIENT_TEST_MODE={{ "1" if pxe_client_test_mode else "0" }}
PXE_CLIENT_ALLOW_POST_SPLASH_DEBUG={{ "1" if pxe_client_allow_post_splash_debug else "0" }}
PXE_CLIENT_DEBUG_REPORT_BASE_URL={{ pxe_client_debug_report_base_url }}
PXE_CLIENT_RUNTIME_DEFINITIONS_BASE_URL={{ pxe_client_runtime_definitions_base_url }}
PXE_CLIENT_NETWORK_TEST_TARGET={{ pxe_client_network_test_target }}
PXE_CLIENT_NETWORK_TEST_PORT={{ pxe_client_network_test_port }}
PXE_CLIENT_CLAM_DB_RUNTIME=/run/av/definitions/clamav
PXE_CLIENT_DISABLE_NETWORK_AT_SPLASH={{ "1" if pxe_client_disable_network_at_splash else "0" }}
PXE_CLIENT_NETWORK_ENFORCER_INTERVAL_SECONDS={{ pxe_client_network_enforcer_interval_seconds }}
PXE_CLIENT_NETWORK_ENFORCER_LOCK_ON_MEDIA_INSERT={{ "1" if pxe_client_network_enforcer_lock_on_media_insert else "0" }}
PXE_CLIENT_MAC_FRAMEWORK={{ pxe_client_mandatory_access_control }}
PXE_CLIENT_APPARMOR_MODE={{ pxe_client_apparmor_mode }}
PXE_CLIENT_SELINUX_MODE={{ pxe_client_selinux_mode }}
