# Supported variables are:
# USERNAME, USERFULLNAME, HOST, BUILD_SYSTEM, FLAVOUR
export USERNAME="{{ pxe_client_username }}"
export USERFULLNAME="AV PXE Scanner"
export HOST="{{ pxe_client_hostname }}"
export BUILD_SYSTEM="PXE Airgap AV Scanner"
export FLAVOUR="avpxe"
